* {
  bg: #08090a;
  fg: #ebdbb2;
  pink: #8e5564;
font: "IBM Plex Sans Regular 12";
  background-color: @bg;
  text-color: @fg;
  width: 300px;
  columns: 1;
  lines: 10;
  padding: 5px;
}

#element selected {
  background-color: #1f1f1f;
  text-color: #ebdbb2;
}

