* {
  bg: #08090b;
  fg: #b4a4d0;
  pink: #fe4727;
  font: "iAWriter Mono S 11";
  background-color: @bg;
  text-color: @fg;
  width: 108px;
  columns: 1;
  lines: 10;
  padding: 2px;
}

#element selected {
  background-color: @pink;
  text-color: @bg;
}

