* {
  bg: #08090b;
  fg: #b4a4d0;
  pink: #f43e5c;
  font: "IBM Plex Sans Regular 11";
  background-color: @bg;
  text-color: @fg;
  width: 108px;
  columns: 1;
  lines: 10;
  padding: 2px;
  border-radius: 15px;
}

#element selected {
  background-color: @pink;
  text-color: @bg;
}

