[Desktop Entry]
Version=1.0
Type=Application
Name=rofi
Comment=search
Exec=rofi -show run -theme darkpink -location 6
Icon=lupa
Path=
Terminal=false
StartupNotify=false
