[Main]
Timeout=1000
Timeout_Seconds=1
Click_Command=urxvt -e bash -c "gtop"

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(148,80,58)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(148,80,58)
Text=mem

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(0,0,0)
Text=swap

[SL_Uptime]
Enabled=false

