[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/me/Desktop/Invoice-123892.pdf]
row=0
col=0

[123fb401-7638-4238-8f71-7527e126188c]
row=0
col=2

[3FCE-272E]
row=1
col=0

[/]
row=2
col=0

[/home/me]
row=0
col=1

